{
	"BotUsername":		"GitLabBot",
	"BotChannel":		"gitlabbot",
	"BotIcon":			":heavy_exclamation_mark:",
	"BotStartMessage":	"GitLab SlackBot started and ready to party hard!",
	"SlackAPIUrl":		"https://hooks.slack.com/services/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",
	"SlackAPIToken":	"xoxp-2123456786-313456781-3123456782-5abcdd",
	"ChannelPrefix":	"dev-",
	"Verbose":			true,
	"ShowAllCommits":   true,
	"HttpTimeout": 		30,
	"Redirect": 		[
		{
			"Channel": "chan1",
			"Repositories": ["repo1","repo2"]
		},
		{
			"Channel": "chan2",
			"Repositories": ["repo3","repo4","repo5"]
		}
	]
}
